@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$color-background: #000000;
$color-text: #b8f8bf;
$font-size: 1.5rem;
$font-family: 'VT323', monospace;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: $color-background;
  color: $color-text;

  font-size: $font-size;
  font-family: $font-family;

  .home__title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: 700;

    &--text {
      margin: 0;
      padding: 0 10px;

    }
  }

  .home__menu {
    & div {
      margin: 1rem;
    }

    &--link {
      padding: 20px;
      font-size: 2rem;
      font-family: $font-family;
      color: $color-text;
      text-decoration: none;

      &:hover {
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}